<%= render partial: "shared/heading", locals: { title: 'Start Pro Plan', tagline: "Start your Pro subscription today for unlimited access to founder updates." } %>

<div class="text-center">
  <!-- provide an image to compel user to add payment details -->
  <!-- <%= image_path "", style: "display: inline-block; max-height: 375px;", class: "mt-6 object-center" %> -->
</div>


<div class="mt-2 justify-center text-center">
  <div class="text-center inline-flex rounded-md shadow">
    <button onclick="beginSubscription()" type="submit" class="items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700">
      Start Pro Plan
    </button>
  </div>
  <div class="mt-2 text-center">
    <!-- bind this element to a live chat tool or mailto address -->
    
  </div>
</div>

<script type="text/javascript">
  var beginSubscription = function() {
    console.log('building subscription...');

    $.ajax({
      url: '<%= billing_portal_index_path %>',
      method: 'POST',
      dataType: 'json',
      data: {},
      success: function(data) {
        console.log('success! portal url: ', data.url)
        window.location.href = data.url;
      },
      error: function(data) {
        window.alert('Sorry, something went wrong. Please try again.');
      }
    })
  }
</script>
