<%= render partial: "shared/heading-internal", locals: {title: 'Share an Update', tagline: 'Share the latest news from your company'} %>

<div class="max-w-3xl mx-auto mt-10">

  <%= form_for @stakeholder_update do |form| %>
    <div class="field">
      <%= form.rich_text_area :content %>
    </div>
  

    <div class="text-right mt-2">
      <button type="submit" class="inline-flex items-center rounded-md border border-transparent bg-indigo-100 px-4 py-2 text-sm font-medium text-indigo-700 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Submit</button>
    </div>

  <% end %>

</div>

