
<%= render partial: "shared/heading-internal", locals: {title: 'Your last update', tagline: 'View your latest update below:'} %>

<div class="max-w-3xl mx-auto mt-10 mb-20">
    <%= @stakeholder_update.content %>


</div>

