<p>Hi <%= @name %>,</p>
<p>We've reviewed your application and determined that it's not a fit.</p>
<p>If you think we have made a mistake, just reply to this email with your reasoning.</p>
<p>Founder Digest Team</p>
